img {
  max-width: 100%;
  display: block;
  height: 100%;
  width: 28px;
}
.DashBoard {
  font-size: 24px;
}
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

ul {
  list-style: none;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  font-weight: bolder;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #46bac4;
  color: #000;
  overflow-x: hidden;
  padding: 25px;
  /* gap: 20px; */
  grid-row: 2 / 3;
}

.sidenav a:hover {
  opacity: 0.7;
}

.sidenav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #222222;
  color: #ff7124;
}

.title {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.title > img {
  width: 3em;
  filter: invert(52%) sepia(98%) saturate(1966%) hue-rotate(355deg)
    brightness(92%) contrast(101%);
}

h2 {
  font-size: 24px;
}
.side-bar,
.extra {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

i,
.fa {
  font-size: 25px;
}

.extra {
  margin-top: 2rem;
}

.header {
  background-color: rgb(22, 22, 22);
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 5px 10px;
  /* row-gap: 20px; */
  color: white;
}

.search-icon {
  filter: invert(52%) sepia(98%) saturate(1966%) hue-rotate(355deg)
    brightness(92%) contrast(101%);
}

.main {
  margin-left: 23%;
}

.search-container {
  display: grid;
  grid-template-columns: 25px 0.7fr;
  gap: 30px;
  align-items: center;
}

.search-container input {
  border-radius: 10px;
  height: 2em;
  border: 0.5px solid black;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 45px 1fr;
  align-items: center;
  gap: 10px 20px;
  color: #ff0070;
  margin-bottom: 4rem;
}

.notification-icon {
  justify-self: end;
  filter: invert(52%) sepia(98%) saturate(1966%) hue-rotate(355deg)
    brightness(92%) contrast(101%);
  width: 1.5rem;
}
.notification-icon:hover {
  filter: invert(68%) sepia(90%) saturate(995%) hue-rotate(130deg)
    brightness(80%) contrast(92%);
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  display: block;
  width: 80%;
  height: 100%;
}

.avatar2 {
  border-radius: 50%;
  width: 10%;
  height: 50%;
  display: block;
}
